*
body{
background-color: rgb(192, 78, 245)
}
#btn{
    color: rgb(253, 1, 211);
    background-color: black;
}
#valor1{
    color: rgb(252, 8, 8);
    background-color: aqua;
}
#valor2{
    color: rgb(252, 8, 8);
    background-color: aqua;
}
#valor3{
    color: rgb(252, 8, 8);
    background-color: aqua;
}
#valor4{
    color: rgb(252, 8, 8);
    background-color: aqua;
}






